{% extends "main.html" %}

{% block page_name %}
Wiki Pages
{% endblock %}

{% block breadcrumb %}
<li class="is-active"><a href="#" aria-current="page">Pages</a></li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="title is-3">Pages in this Wiki</h2>
    </div>
    <div class="card-content">
        <div class="columns is-multiline">
            {% for page in all_pages %}
            <div class="column is-12-mobile is-6-tablet is-4-desktop">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">
                            <a href="{{ url_for('pages', name=page) }}" class="text-primary">{{page}}</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

